<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Sign Up</h3>
</div>
<form role="form" ng-submit='register(account)' name="registerForm">
  <div class="modal-body">
    <div class="row" ng-show="error">
      <div class="col-xs-12" style="text-align:center">
          <p>{{errormsg}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 form-group">
        <label>Username *</label>
        <input type="text" ng-model="account.username" placeholder="Username..." class="form-control" required>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <label>Email *</label>
        <input type="email" ng-model="account.email" placeholder="Email..." class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6  form-group">
        <label>Password *</label>
        <input type="password" ng-model="account.password" name="password" placeholder="Password..." class="form-control" required>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <label>Confirm Password *</label>
        <input type="password" match-password="password" name="confirmPassword" ng-model="account.confirm_password" placeholder="Password..." class="form-control" required >
        <!--input type="password" ng-model="account.confirm_password" placeholder="Password..." class="form-control" required validPasswordC-->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 form-group">
        <label>First name</label>
        <input type="text" ng-model="account.first_name" placeholder="First name..." class="form-control">
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <label>Last name</label>
        <input type="text" ng-model="account.last_name" placeholder="Last name..." class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 form-group">
        <label>Bio</label>
        <textarea ng-model="account.description" placeholder="About yourself..." class="form-control"></textarea>
      </div>
    </div>
    <!--div class="row">
      <div class="col-xs-12 col-md-12 form-group">
        <label>Terms of use</label>
        <div>
            <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
                <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
                <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet iisque quo, prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in vim, mea at omnium oblique.</p>
                <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei iisque legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio lobortis elaboraret pro. Vix te fabulas partiendo.</p>
                <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per et. Mea eu mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu nostrud postulant dissentias qui. Postea tincidunt vel eu.</p>
                <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius nonumes, no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero meliore deserunt ius ea. An qui inimicus inciderint.</p>
            </div>
        </div>
      </div>
    </div-->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="agree" value="agree" ng-model="account.toc" ng-true-value="2" check-required> I accept the <a target="_blank" ui-sref="app.tou">Terms and Conditions</a>*
                </label>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="registerForm.$invalid" type="submit" class="btn btn-primary">Submit</button>    
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</form>