/build/
/benchpress-build/
/node_modules/
/bower_components/
/tmp/
/backup
/vendor
/partials
/js/lib
/js/app
/scripts/bower/bower-*
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
flightplan.js
style_1.css
template_pane_style_1.php
libpeerconnection.log
npm-debug.log
gen_docs.disable
test.disable
angular.js.tmproj
angular.xcodeproj
404_php
*.bak.php
*.js.bak
*.sh
*.log
*.stackdump
*.rar
*.gz
*.zip
*.txt
*.codekit
*.iml
*.swp
*~
.agignore
.lvimrc
.idea
.vscode
.git-ftp-ignore
.git-ftp-include
.gitlab-ci.yml
.DS_Store