<div class="container-fliud" id="container-fliud_bg">
    <div class="row">

        <div class="titl_bg_img  col-xs-12 col-md-12">{{data.pageTitle}}</div>
        <!--/titl_bg_img-->
    </div>
    <!-- /Main Background img row-->
</div>
<div class="container">
    <div class="row">
        <!--top_hrader-->
        <div class="watch_tab_main_div">
                <form class="form-inline">
                    <div class="form-group">
                    <label>Category: </label>
                    <select name="category" class="form-control" ng-model="filter.contest">
                        <option value="">All</option>
                        <option ng-repeat="item in contests" value="{{item.term_id}}" ng-selected="defaults.contest == item.term_id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sort: </label>
                    <select name="orderBy" class="form-control" ng-model="filter.orderby">
                        <option value="date" ng-selected="defaults.orderby != 'title'">Date</option>
                        <option value="title" ng-selected="defaults.orderby == 'title'">Title</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sort">Order: </label>
                    <select name="order" class="form-control" ng-model="filter.order">
                        <option value="desc" ng-selected="defaults.order != 'asc'">Desc</option>                        
                        <option value="asc" ng-selected="defaults.order == 'asc'">Asc</option>
                    </select>
                </div>
                <div class="form-group">
                    <button id="filter_button" class="btn btn-default" ng-click="filterContent(filter)">Apply Filter</button>                    
                </div>
    
                </form>
        </div>
        <!--/watch tab main div-->
        <div class="wat_gap col-xs-12 col-md-12"> </div>
        <div class="v_grid_container">
            <div ng-repeat="post in data.posts" class="v_grid col-sm-6 col-md-4 col-lg-3 col-xs-12">
                <a ng-href="watch/{{post.id}}">
                    <img ng-src="{{post.featured_image_thumbnail_url?post.featured_image_thumbnail_url:post.acf.thumbnail}}" alt="{{post.title.rendered}}"
                        style="width:100%">
                    <div class="caption">
                        <figure><i class="glyphicon {{getIcon(post.acf.type)}}"></i></figure>
                        <p ng-bind-html="post.title.rendered"></p>
                    </div>
                </a>
            </div>
        </div>
        <!-- v_grid_container-->
        <p class="empty" ng-if="data.posts.length == 0">No posts found</p>
        <div class="paging_div" ng-if="pagination.totalItems > 6">
            <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" ng-change="pageChanged()" items-per-page="6" previous-text="<"
                next-text=">" force-ellipses="true" template-url="af/template/pagination/pagination.html"></ul>
        </div>
        <div class="com_gap col-sm-12 col-md-12"> </div>
    </div>
</div>