<div class="container-fliud" id="container-fliud_bg">
	<div class="row">
		<div class="titl_bg_img_2 col-sm-12 col-md-12" ng-switch="post.acf.type">
			<div class="comment_img " ng-switch-when="Video">
				<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
				<div class="wistia_embed wistia_async_{{post.acf.wistia_hash}}" style="height:366px;width:100%">&nbsp;</div>
			</div>
			<div class="comment_img " ng-switch-when="Audio">
				<img ng-src="{{post.acf.thumbnail}}" style="height:366px;width:100%">
				<audio controls controlsList="nodownload">
					<source ng-src="{{media.url | to_trusted}}" type="audio/mpeg"> Your browser does not support the audio element.
				</audio>
			</div>
			<div class="comment_img " ng-switch-when="Image">
				<img ng-src="{{media.url}}" style="height:366px;width:100%">
			</div>
			<div class="comment_img " ng-switch-when="Document">
				<iframe ng-src="{{getViewerURL(media.url)}}" frameborder="0" width="100%" height="366">
				</iframe>
			</div>
			<div class="comment_img " ng-switch-when="PDF">
				<iframe ng-src="{{getViewerURL(media.url)}}" frameborder="0" width="100%" height="366">
				</iframe>
			</div>
		</div>
	</div>
</div>
<div class="container vote-entry">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="row name">
				<div class="col-xs-12 col-sm-9 col-md-10">
					<p class="title">{{post.title.rendered}}</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2">
					<span class="views">{{wistia.play_count?wistia.play_count+' View(s)':'NA'}}</span>
				</div>
			</div>
			<div class="row cta">
				<div class="col-sm-6 vote">
					<div ng-show=" user === undefined">
						<p class="notice notice-info highlight">
							<a href="#" class="button button--block js-superModal" ng-click="login()">Login</a>/
							<a href="#" class="button button--block button--primary js-superModal" ng-click="register()">Sign Up</a> to vote.</p>
					</div>
					<div ng-show="user !== undefined">
						<vote-button post="post.id" contest="post.contest.ID" can-vote="post.contest.can_vote" success="success" error="error" title="post.title.rendered"></vote-button>
					</div>
				</div>

				<div class="col-sm-6 like">
					<div ng-show="user !== undefined">
						<like post="post.id" user="user.id" data="post.likes"></like>
					</div>
				</div>
			</div>
			<div class="row text-center social">
				<div class="col-sm-12 share">
					<sn-addthis-toolbox data-url="http://www.afriflow.com" data-title="Afriflow" data-description="contest website" class="addthis_toolbox addthis_default_style sharing-buttons">
						<a href class="addthis_button_facebook facebook">
							<i class="fa fa-facebook"></i>
							<span>Facebook</span>
						</a>
						<a href class="addthis_button_twitter twitter">
							<i class="fa fa-twitter"></i>
							<span>Twitter</span>
						</a>
						<a class="addthis_button_whatsapp whatsapp"><i class="fa fa-whatsapp"></i><span>Whatsapp</span></a>
					</sn-addthis-toolbox>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-user"></i>
								<a href="/members/{{post.author}}">{{post.author_name}}</a>
							</h3>
							<span class="pull-right clickable">
								<follow author="post.id" following="isFollowing"></follow>
							</span>
						</div>
						<div class="panel-body">
							<p ng-bind-html="post.content.rendered" class="lead" ellipsis></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<h5>{{post.comment_count.approved}} Comment(s)</h5>
				<comments post="post.id"></comments>
			</div>
		</div>
	</div>
</div>